<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{nombre}}!!!</h1>
    <p>Tu edad es <b>{{edad}}</b></p>
    <h4>Lista de materias</h4>
    <ul>
        {% for materia in materias %}
          <li>{{materia}}</li>
        {% endfor %}
    </ul>
    <h4>Calificaciones</h4>
    <ul>
        {% for materia,calificacion in calificaciones.items %}
          <li>{{materia}}: <b>{{calificacion}}</b></li>
        {% endfor %}
    </ul>
</body>
</html>